<!--[if lt IE 9]>
<script src="/static/default/html5shiv.js"></script>
<script src="/static/default/respond.min.js"></script>
<![endif]-->

<!-- jQuery -->
<script src="/static/default/plugins/jquery/jquery.min.js"></script>
<script src="/static/default/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/default/plugins/metisMenu/dist/metisMenu.min.js"></script>
<script src="/static/default/plugins/validform/v5.3.2_min.js"></script>
<script src="/static/default/plugins/validform/datatype.js"></script>
<script src="/static/default/plugins/artDialog/dist/dialog.js"></script>
<script src="/static/default/js/common.js"></script>